@import 'settings';
@import 'foundation-emails';

@import 'template/template';

h1 {
  margin-bottom: 0px;

  img {
    width: 40px;
    display: inline-block;
  }
}

.message {
  padding: 25px 20px;
  border: 2px solid #E1E4E8;
  border-radius: 4px;
  text-align: left;

  p {
    color: #A4AEC2;
    hyphens: none;
    width: 90%;
    margin-bottom: 0px;
  }

  strong {
    color: #4E637A;
  }
}

.message--newsletter {

  p {
    margin-bottom: 10px !important;
  }

  p:last-child {
    margin-bottom: 0px !important;
  }
}

.questions {

  strong {
    color: #4E637A;
  }

  p {
    color: #A4AEC2;
    hyphens: none;
    width: 90%;
  }

}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.full {
  width: 100% !important;
}
