<container>
  <row>
    <columns>
      <center>
        <spacer size="30"></spacer>
        <h1 class="text-center"><img src="http://mz-investments.adrianbonnici.com/images/logo-dark.png"></h1>
        <spacer size="30"></spacer>
        <div class="message">
          <p><strong>Hi Adrian Bonnici</strong>, your account has been activated. You can now access the client area by clicking on the button below.</p>
        </div>
        <spacer size="30"></spacer>
        <button class="rounded"><a href="#">Get Started</a></button>
      </center>
    </columns>
  </row>
  {{> footer}}
</container>
