<container>
  <row>
    <columns>
      <center>
        <spacer size="30"></spacer>
        <h1 class="text-center"><img src="http://mz-investments.adrianbonnici.com/images/logo-dark.png"></h1>
        <spacer size="30"></spacer>
        <div class="message">
          <p><strong>Please confirm your email address</strong> before we get started. If you recieved this email by mistake or weren't expecting it, please disregard this email.</p>
        </div>
        <spacer size="30"></spacer>
        <button class="rounded"><a href="#">Confirm email address</a></button>
      </center>
    </columns>
  </row>
  {{> footer}}
</container>
