<container>
  <row>
    <columns>
      <center>
        <spacer size="30"></spacer>
        <h1 class="text-center"><img src="http://mz-investments.adrianbonnici.com/images/logo-dark.png"></h1>
        <spacer size="30"></spacer>
        <div class="message message--newsletter">
          <p><strong>Dear Admin,</strong></p>
          <p>A new enquiry has been submitted by <strong>Adrian Bonnici</strong>.</p>
          <blockquote>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          </blockquote>
          <p class=full>You can contact <strong>Adrian Bonnici</strong> on <strong>bonnici.adrian@gmail.com</strong> or <strong>79914376</strong>.</p>
        </div>
        <spacer size="50"></spacer>
    </columns>
  </row>
  {{> footer}}
</container>
