<container>
  <row>
    <columns>
      <center>
        <spacer size="30"></spacer>
        <h1 class="text-center"><img src="http://mz-investments.adrianbonnici.com/images/logo-dark.png"></h1>
        <spacer size="30"></spacer>
        <div class="message message--newsletter">
          <p><strong>Hi Adrian Bonnici,</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue.</p>
        </div>
        <spacer size="75"></spacer>
    </columns>
  </row>
  <row>
    <columns>
      <center>
        <div class="questions">
          <p><strong>Questions?</strong></p>
          <p>If you have any questions regarding the contents of this mailer, please do not hesitate to get in touch.</p>
          <button class="rounded"><a href="#">Contact Us</a></button>
        </div>
      </center>
    </columns>
  </rows>
  {{> footer}}
</container>
