<container>
  <row>
    <columns>
      <center>
        <spacer size="30"></spacer>
        <h1 class="text-center"><img src="http://mz-investments.adrianbonnici.com/images/logo-dark.png"></h1>
        <spacer size="30"></spacer>
        <div class="message">
          <p><strong>Need to change your password?</strong> Not a problem. Just click on the button below to get started. If you didn't request to change your password, please disregard this email.</p>
        </div>
        <spacer size="30"></spacer>
        <button class="rounded"><a href="#">Reset password</a></button>
      </center>
    </columns>
  </row>
  {{> footer}}
</container>
