<row class="row--footer">
  <columns>
    <spacer size="55"></spacer>
    <center>
      <p>Disclaimer: The content of this e-mail and its attachments may be confidential and is only intended for the person or entity to which the e-mail is addressed. If you have received this e-mail or its attachments by mistake please notify the sender and delete the e-mail and its attachments.</p>
    </center>
    <spacer size="50"></spacer>
  </columns>
</row>
